.ricerca {
    border: 3px solid #336699;
    background: red;
    padding: 4px;
    right: 0;
}

.ricerca input {
    float: left;
    height: 16px;
}

.ricerca input.query {
    background: #999999;
    border: none;
    width: 140px;
    font-family: verdana, arial, tahoma;
    font-size: 12px;
    color: #000000;
}

.imgContainer {
    position: relative;
    width: 260px;
    height: 178px;
    overflow: hidden;
}

.imgContainer img {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.prezzo {
    font-size: 14px;
    font-weight: bold;
}

#go-left {
    float: left;
}

#go-right {
    float: right;
}
